# .env.example (copiar a .env y completar)
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=devdb
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass

# Django variables
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True

# Optional to auto-create admin (use only in dev)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass
